@model web.Models.Trte

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>Trte</h1>

<div>
    <h4>Podrobnosti</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sorta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sorta)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vinogradi)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>ID vinograda</th>
                    <th>Število trt v vinogradu (x1000)</th>
                    <th>Površina vinograda (ha)</th>
                    <th>Leto</th>
                </tr>
                @foreach (var item in Model.Vinogradi)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VinogradiId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StTrt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Povrsina)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.letoMeritve)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pridelek)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrteId">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
