@model PaginatedList<web.Models.Odkup>

@{
    ViewData["Title"] = "Index";
}

<h1>Odkup</h1>

<p>
    <a asp-action="Create">Ustvari novo</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Najdi po številu: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Nazaj na cel seznam</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PridelekId"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID pridelka</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Kolicina"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Količina (t)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CenaNaKg"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Cena na kilogram (€)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Leto"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Leto meritve</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PridelekId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenaNaKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.letoMeritve)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OdkupId">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.OdkupId">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.OdkupId">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
