@model IEnumerable<web.Models.Odkup>

@{
    ViewData["Title"] = "Index";
}

<h1>Odkup</h1>

<p>
    <a asp-action="Create">Ustvari novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PridelekId"]">@Html.DisplayNameFor(model => model.PridelekId)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Kolicina"]">@Html.DisplayNameFor(model => model.Kolicina)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CenaNaKg"]">@Html.DisplayNameFor(model => model.CenaNaKg)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Leto"]">@Html.DisplayNameFor(model => model.letoMeritve)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PridelekId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenaNaKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.letoMeritve)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OdkupId">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.OdkupId">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.OdkupId">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
