@model web.Models.Vinogradi

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>Vinogradi</h1>

<div>
    <h4>Podrobnosti</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Povrsina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Povrsina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StTrt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StTrt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.letoMeritve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.letoMeritve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trte.TrteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VinogradiId">Uredi</a> |
    <a asp-action="Index">Nazaj na seznam</a>
</div>
