@model PaginatedList<web.Models.Vinogradi>

@{
    ViewData["Title"] = "Index";
}

<h1>Vinogradi</h1>

<p>
    <a asp-action="Create">Ustvari novo</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Najdi po številu: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Nazaj na cel seznam</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["Povrsina"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Povrsina</a>
            </th>
            <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["StSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Število trt</a>
            </th>
            <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["Leto"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Leto meritve</a>
            </th>
            <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["TrteId"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID trte</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Povrsina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StTrt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.letoMeritve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trte.TrteId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VinogradiId">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.VinogradiId">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.VinogradiId">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>